# VSCode
#.vscode/

# JetBrains IDE
.idea/

# user ignore
zip_files_dir/

# Node
node_modules/

# Python
__pycache__/
*/__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
.ruff_cache/

# Environment
.env
.env.*

# Logs
*.log
log/



pg_db/
db.sqlite3
